name: Python Game CI/CD

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10.8
      uses: actions/setup-python@v6
      with:
        python-version: '3.10.8'
    
    - name: Remove Docker images
      run: docker system prune -af
    
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
        python3-pygame \
        libsdl2-2.0-0 \
        libsdl2-mixer-2.0-0 \
        libsdl2-image-2.0-0 \
        libsdl2-ttf-2.0-0 \
        x11-xserver-utils \
        libasound2 \
        libasound2-plugins \
        pulseaudio \
        tk \
        xvfb

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest
   
    - name: Run Tests
      run: |
        xvfb-run pytest
        
    - name: Build the Docker image
      run: current=$(date +%s) && docker build . --file Dockerfile --tag blitz-game:$current

    - name: Cleanup workspace
      run: |
        rm -rf ./build
        echo "Removed unnecessary files"

    env:
      SDL_VIDEODRIVER: dummy
      SDL_AUDIODRIVER: dummy